<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <span class="copyright">Copyright © 2024 Trading Moon. All rights reserved.</span>
      <div class="footer-links">
        <a [routerLink]="'/privacy-policy'">Privacy Policy</a>
        <a [routerLink]="'/terms-and-condition'">Terms & Conditions</a>
        <a [routerLink]="'/cookie-consent'">Cookie Consent</a>
        <a [routerLink]="'/disclaimer'">Disclaimer</a>
        <a [routerLink]="'/site-map'">Site Map</a>
      </div>
    </div>
  </div>
</footer>