.hero-section {
  background-image: url('../../../assets/hero-image.png');
  background-size: cover;
  background-position: center;
  height: 389px; /* Full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  margin-top: 40px;
  border-radius: 15px;
  opacity: 20;
}

.hero-img {
  border-radius: 15px;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Dark overlay to make text more readable */
}

.hero-content {
  z-index: 1;
  text-align: center;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: 700;
}

.hero-content p {
  font-size: 1.5rem;
}

.hero-content .btn {
  margin-top: 30px;
  padding: 15px 30px;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures content spacing */
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s;
  height: 100%; /* Makes all cards the same height */
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1; /* Fills up remaining space in the card */
  padding: 20px;
}

.card:hover {
  transform: translateY(-10px);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  flex-grow: 1; /* Allows the description to expand and push the button down */
  color: #666;
}

.card-body a {
  margin-top: 10px;
  align-self: start; /* Ensures button remains aligned to the start */
}